<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SystemDomainsVersion</key>
	<string>20.0</string>
	<key>Applications</key>
	<dict>
		<key>com.apple.WebViewService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.WebViewService</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/E4FCD42A-BC3F-4E1C-AC6C-6D9932E23A04/WebViewService.app</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
		</dict>
		<key>com.apple.weather</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.weather</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/E33E843B-0B2B-4F9C-B1C8-5C239BCFA34F/Weather.app</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
		</dict>
		<key>com.apple.datadetectors.DDActionsService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.datadetectors.DDActionsService</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/798F78FC-74FD-48AF-8C7E-552CED6C6F09/DDActionsService.app</string>
			<key>CFBundleVersion</key>
			<string>109.1</string>
		</dict>
		<key>com.apple.webapp</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.webapp</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/05B79610-7ECE-481C-A97F-86FD7A39924C/Web.app</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
		</dict>
		<key>com.apple.mobilesafari</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilesafari</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/AA4CF771-2B1C-4586-A4E8-0BC262FB4A64/MobileSafari.app</string>
			<key>CFBundleVersion</key>
			<string>9537.53</string>
		</dict>
		<key>com.apple.mobilemail</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mobilemail</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/4BA96C3F-A486-4C5F-A40A-8EC7B97185C7/MobileMail.app</string>
			<key>CFBundleVersion</key>
			<string>53</string>
		</dict>
		<key>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/2301C014-F368-49A4-B061-FB7C2EC5072F/WebContentAnalysisUI.app</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
		</dict>
		<key>com.apple.calculator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.calculator</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/5C23AE54-B1C1-4A36-91D4-F5EC51FA4C7A/Calculator.app</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
		</dict>
		<key>com.apple.ios.StoreKitUIService</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ios.StoreKitUIService</string>
			<key>Path</key>
			<string>/private/var/mobile/Applications/91AE728C-760A-4D79-ADB8-E0564AA50682/StoreKitUIService.app</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
		</dict>
	</dict>
	<key>Lockdown</key>
	<dict>
		<key>ProductVersion</key>
		<string>7.1.2</string>
		<key>com.apple.TerminalFlashr</key>
		<dict>
		</dict>
		<key>com.apple.mobile.data_sync</key>
		<dict>
		</dict>
		<key>BuildVersion</key>
		<string>11D257</string>
		<key>com.apple.mobile.iTunes.accessories</key>
		<dict>
		</dict>
		<key>com.apple.mobile.wireless_lockdown</key>
		<dict>
		</dict>
		<key>DeviceName</key>
		<string>iDevice</string>
		<key>com.apple.Accessibility</key>
		<dict>
			<key>MonoAudioEnabledByiTunes</key>
			<false/>
			<key>ZoomTouchEnabledByiTunes</key>
			<false/>
			<key>SpeakAutoCorrectionsEnabledByiTunes</key>
			<false/>
			<key>InvertDisplayEnabledByiTunes</key>
			<false/>
			<key>VoiceOverTouchEnabledByiTunes</key>
			<false/>
			<key>ClosedCaptioningEnabledByiTunes</key>
			<false/>
		</dict>
		<key>SerialNumber</key>
		<string>%Serial%</string>
		<key>com.apple.MobileDeviceCrashCopy</key>
		<dict>
		</dict>
		<key>ProductType</key>
		<string>iPhone3,1</string>
		<key>UniqueDeviceID</key>
		<string>%UDID%</string>
	</dict>
	<key>Version</key>
	<string>9.1</string>
	<key>IsEncrypted</key>
	<false/>
	<key>BackupKeyBag</key>
	<data>
	VkVSUwAAAAQAAAADVFlQRQAAAAQAAAABVVVJRAAAABBk9LZRmWFFi6rkXZI+VyTkSE1D
	SwAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAV1JBUAAA
	AAQAAAAAU0FMVAAAABRKcoazIFe+umUnatxygUAZgA77jklURVIAAAAEAAAnEFVVSUQA
	AAAQLFa0YJd/QveoMPBSrzr/EUNMQVMAAAAEAAAAC1dSQVAAAAAEAAAAA0tUWVAAAAAE
	AAAAAFdQS1kAAAAoS4ZC7AEiKRxD+ERiobPIy9XOZ8R29wnYiifRTtbBucuoc1M0P8sQ
	CFVVSUQAAAAQderx0B8pQg+qN0M5+t4iWENMQVMAAAAEAAAACldSQVAAAAAEAAAAA0tU
	WVAAAAAEAAAAAFdQS1kAAAAoiLojrem2fT8R6KuVu0zS6eZTvG93VtwuT/9rIr0judq0
	o6ziW0traFVVSUQAAAAQ6SK0kBP2Qi2u+VWoUqFGkENMQVMAAAAEAAAACVdSQVAAAAAE
	AAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoNuxfETOAHV27ez3eQ62LvCFwjj4rtiS/a6hi
	7kQJgqL4P4uO/AUdTVVVSUQAAAAQt04hAtaETsig+4gnTtIx0kNMQVMAAAAEAAAACFdS
	QVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoJ9aNkWwfH3bi5a4X+glH1TsMzjPs
	yWM3btTpyeaMKfuX/Jc2GmvHR1VVSUQAAAAQaBjAejNCQ8unT62TexmRVENMQVMAAAAE
	AAAAB1dSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoxLTWAS4Iu7UOx6SLg43v
	nRbi5Q56EJD9dd4RDF5gvMLWeNy2dgoRt1VVSUQAAAAQCtspNy1BS5qcm6KB4iBaG0NM
	QVMAAAAEAAAABldSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoKV/y7Gz+HMvf
	O33L740P3RJ/Mq1vDgW1eTzF6EbbkUyW7kKqlsREelVVSUQAAAAQLzL0NDPdRvOaZCyw
	jpYkd0NMQVMAAAAEAAAABVdSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoUEgq
	hReM+yxo+G1Ly9XTDzF/n9knFfpg1MKxx4UExXTyMI30sH38jlVVSUQAAAAQTf1U1IhX
	QleQignFuSbHeUNMQVMAAAAEAAAABFdSQVAAAAAEAAAAAktUWVAAAAAEAAAAAFdQS1kA
	AAAo9k+AlAkP/wLlupXwFALyJZbNa3nugp9nsC/UaVvuQdL3qt2kxL7HDlVVSUQAAAAQ
	+qgcAbbuSAGGzSStYBexDUNMQVMAAAAEAAAAA1dSQVAAAAAEAAAAAktUWVAAAAAEAAAA
	AFdQS1kAAAAoG95Y+8zthmowg+dyJbOaKjDfJSVtUute6yn2NiFzkgxeu/7vpQJCvlVV
	SUQAAAAQdjdjbrDST0OIAEekLfX6+0NMQVMAAAAEAAAAAldSQVAAAAAEAAAAAktUWVAA
	AAAEAAAAAFdQS1kAAAAoCo6pD1UUGFkv9J77rE76AqzKVEvYQ8zKSsKIg1JNV8aWRdXg
	20WmVlVVSUQAAAAQcuf0U9kyQcOJqJso2USjq0NMQVMAAAAEAAAAAVdSQVAAAAAEAAAA
	AktUWVAAAAAEAAAAAFdQS1kAAAAorSXlXwp+hi7dPsRZALMPbaR47hAXq03JKWPMjrzh
	yhkpUTjE0E3U2A==
	</data>
	<key>WasPasscodeSet</key>
	<false/>
	<key>Date</key>
	<date>2016-01-09T01:10:07Z</date>
</dict>
</plist>